{% extends "client/base.html" %}
<!--  -->
{% block title %}Гарни - ресторанно-гостиничный комплекс{% endblock %}
<!--  -->
{% block styles %}
<link
    href="{{ url_for('client.static',filename='css/admin_styles.css') }}"
    rel="stylesheet"
/>
{% endblock %}
<!--  -->
{% block body %}

<!-- ########################### Admin Nav Bar ########################## -->
{% import "client/admin_nav.html" as admin_nav %} {{ admin_nav.nav(True) }}
<!-- ########################### Admin Nav Bar ########################## -->

<!-- ########################### User List Tab ########################## -->
<div class="container pt-2">
    <div class="row px-3">
        <div class="d-flex flex-row input px-0 pb-2" style="width: 100%">
            <input
                type="search"
                name="search"
                class="form-control"
                placeholder="Поиск"
                oninput="searchData(this)"
            />
            <button class="btn essence-btn ms-2" onclick="clearSearch(this)">
                Очистить
            </button>
        </div>
        <div class="list-group-wrapper">
            <ul
                class="list-group list-group-light list-user-wrapper"
                id="usersList"
            >
                <!-- Users data -->
            </ul>
        </div>
    </div>
</div>

<!-- Create new user modal -->
<div
    class="modal fade"
    id="newUserModal"
    tabindex="-1"
    aria-labelledby="userModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">
                    Создание нового пользователя
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form id="newUserForm" data-redirect-target="/">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input
                            type="text"
                            name="user_name"
                            class="form-control"
                            required
                        />
                        <label class="form-label">Имя</label>
                    </div>

                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        <input
                            type="tel"
                            name="user_phone"
                            data-tel-input
                            class="form-control"
                            placeholder="+7 (___) ___-__-__"
                            pattern="(\+7|8) \((\d){3}\) (\d){3}(-(\d){2}){2}"
                            minlength="11"
                            maxlength="18"
                            required=""
                        />
                        <label class="form-label">Номер телефона</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input
                            type="password"
                            name="user_password"
                            id="registerPassword"
                            class="form-control"
                            pattern="([A-Za-z0-9_-]{8,})$"
                            minlength="8"
                            required
                        />
                        <label class="form-label">Пароль</label>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <input
                            type="password"
                            id="registerRepeatPassword"
                            class="form-control"
                            required
                        />
                        <label class="form-label">Пароль еще раз</label>
                    </div>

                    <!-- Submit button -->
                    <button
                        type="submit"
                        data-submit-button="Создать пользователя"
                        class="btn btn-primary btn-block mb-3"
                    >
                        Создать пользователя
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Create new user modal -->

<!-- Confirm smth modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content p-3">
            <h5 class="modal-title pb-2">Вы уверенны?</h5>
            <div class="modal-body d-flex justify-content-between p-0">
                <button
                    type="submit"
                    class="btn btn-flat btn-sm px-3"
                    data-ripple-color="dark"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                >
                    Отмена
                </button>
                <button
                    type="submit"
                    class="btn btn-primary btn-sm px-3"
                    data-ripple-color="dark"
                    onclick="deleteUser()"
                >
                    Ок
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Confirm smth modal -->

<!-- ########################### User List Tab ########################## -->

{% endblock %}
<!--  -->
{% block scripts %}
<!-- scripts -->
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/admin/admin_user.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/admin/admin_utils.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/admin/admin_sort.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/login/login_phoneinput.js') }}"
></script>
{% endblock %}
