{% extends "client/base.html" %}
<!--  -->
{% block title %}Гарни - ресторанно-гостиничный комплекс{% endblock %}
<!--  -->
{% block styles %}
<link
    href="{{ url_for('client.static',filename='css/admin_styles.css') }}"
    rel="stylesheet"
/>
{% endblock %}
<!--  -->
{% block body %}

<!-- ########################### Admin Nav Bar ########################## -->
{% import "client/admin_nav.html" as admin_nav %} {{ admin_nav.nav(True) }}
<!-- ########################### Admin Nav Bar ########################## -->

<!-- ########################### Storage page ########################### -->

<section class="container pt-2">
    <div class="container">
        <div class="row px-3">
            <div class="d-flex flex-row input px-0 mb-2" style="width: 100%">
                <input
                    type="search"
                    name="search"
                    class="form-control"
                    placeholder="Поиск"
                    oninput="searchData(this)"
                />
                <button
                    class="btn essence-btn ms-2"
                    onclick="clearSearch(this)"
                >
                    Очистить
                </button>
            </div>
            <div class="list-group-wrapper">
                <ul
                    class="list-group list-group-light flex-fill"
                    style="width: 100%"
                    id="storageList"
                >
                    <!-- storage items -->
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Create new income modal -->
<div
    class="modal fade"
    id="newIncomeModal"
    tabindex="-1"
    aria-labelledby="incomeModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="incomeModalLabel">
                    Регистрация прихода
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="list-group list-group-light flex-fill"
                    id="incomeForm"
                    data-create-mode="income"
                >
                    <!-- Header -->
                    <div class="list-group-item income-header p-2">
                        <span class="col-4">Наименование</span>
                        <span class="col-2">Остаток на складе</span>
                        <span class="col-2">Единицы</span>
                        <span class="col-2">Величина прихода</span>
                        <div class="col-1">
                            <button
                                type="button"
                                class="btn btn-link btn-sm px-2 ripple-surface-dark"
                                data-ripple-color="dark"
                                onclick="createRecord(this)"
                            >
                                <i class="far fa-plus-square text-dark"></i>
                            </button>
                        </div>
                    </div>
                    <!-- income record -->
                </form>
                <!-- Submit button -->
                <button
                    type="submit"
                    form="incomeForm"
                    data-submit-button="Сохранить"
                    class="btn btn-primary btn-block mt-3 display-none"
                >
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Create new income modal -->

<!-- Create new outcome modal -->
<div
    class="modal fade"
    id="newOutcomeModal"
    tabindex="-1"
    aria-labelledby="outcomeModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outcomeModalLabel">
                    Регистрация списания
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="list-group list-group-light flex-fill"
                    id="outcomeForm"
                    data-create-mode="outcome"
                >
                    <!-- Header -->
                    <div class="list-group-item outcome-header p-2">
                        <span class="col-4">Наименование</span>
                        <span class="col-2">Остаток на складе</span>
                        <span class="col-2">Единицы</span>
                        <span class="col-2">Величина списания</span>
                        <div class="col-1">
                            <button
                                type="button"
                                class="btn btn-link btn-sm px-2 ripple-surface-dark"
                                data-ripple-color="dark"
                                onclick="createRecord(this)"
                            >
                                <i class="far fa-plus-square text-dark"></i>
                            </button>
                        </div>
                    </div>
                    <!-- outcome record -->
                </form>
                <!-- Submit button -->
                <button
                    type="submit"
                    form="outcomeForm"
                    data-submit-button="Сохранить"
                    class="btn btn-primary btn-block mt-3 display-none"
                >
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Create new outcome modal -->

<!-- Confirm smth modal -->
<div
    class="modal fade"
    id="confirmModal"
    tabindex="-1"
    aria-labelledby="userModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content p-3">
            <h5 class="modal-title pb-2" id="userModalLabel">Вы уверенны?</h5>
            <div class="modal-body d-flex justify-content-between p-0">
                <button
                    type="submit"
                    class="btn btn-flat btn-sm px-3"
                    data-ripple-color="dark"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                >
                    Отмена
                </button>
                <button
                    type="submit"
                    class="btn btn-primary btn-sm px-3"
                    data-ripple-color="dark"
                    onclick="deleteUser()"
                >
                    Ок
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Confirm smth modal -->

<!-- ########################### Storage page ########################### -->

{% endblock %}
<!--  -->
{% block scripts %}
<!-- scripts -->
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/admin/admin_storage.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/admin/admin_utils.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/admin/admin_sort.js') }}"
></script>
{% endblock %}
