{% extends "client/base.html" %} {% block title %}Гарни - ресторанно-гостиничный
комплекс{% endblock %} {% block content %}

<body class="row p-0 m-0">
    {% if show_login %}

    <!-- ########################### Admin Login Form ####################### -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid p-1">
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img
                        src="{{ url_for('client.static',filename='img/logo-restaurant-w.svg') }}"
                        height="40"
                        alt="Garni Logo"
                        loading="lazy"
                    />
                </a>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div
        class="border d-flex align-items-center justify-content-center"
        style="height: 80vh"
    >
        <!-- Spacer block -->
        <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4"></div>

        <!-- Form block -->
        <div
            class="px-1 col-10 col-sm-8 col-md-5 col-lg-4 col-xl-4"
            style="max-width: 400px"
        >
            {% if (auth_message | length) == 0 %}
            <form id="loginForm" data-redirect-target="/admin">
                <!-- Phone input -->
                <div class="form-outline mb-4">
                    <input
                        type="tel"
                        id="loginPhone"
                        name="loginPhone"
                        data-tel-input
                        class="form-control"
                        placeholder="+7 (___) ___-__-__"
                        pattern="(\d|\(|\)| |\+|-){11,18}$"
                        minlength="11"
                        maxlength="18"
                        required=""
                    />
                    <label class="form-label" for="loginPhone"
                        >Номер телефона</label
                    >
                </div>
                <!-- Phone input -->

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input
                        type="password"
                        id="loginPassword"
                        class="form-control"
                        minlength="8"
                        required
                    />
                    <label class="form-label" for="loginPassword">Пароль</label>
                </div>
                <!-- Password input -->

                <!-- Submit button -->
                <button
                    type="submit"
                    data-submit-button="Войти"
                    class="btn btn-primary btn-block mb-4"
                >
                    Войти
                </button>
                <!-- Submit button -->
            </form>
            {% else %}
            <div
                class="d-flex justify-content-center align-items-center"
                style="
                    /*position: absolute;*/
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                "
            >
                <a
                    href="#"
                    style="text-decoration: none; color: #000"
                    onclick="log_out_me('/admin')"
                >
                    <p class="note note-light" style="width: 100%">
                        {{ auth_message }}<br />Нажмите чтобы выйти.
                    </p>
                </a>
            </div>
            {% endif %}
        </div>
        <!-- Form block -->

        <!-- Spacer block -->
        <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4"></div>
    </div>
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/login_main.js') }}"
    ></script>
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/login_phoneinput.js') }}"
    ></script>

    <!-- ########################### Admin Login Form ####################### -->

    {% else %}

    <!-- ########################### Admin Nav Bar ########################## -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid p-1">
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div>
                    <span id="navClock" class="nav-clock me-4"></span>
                    <span id="navDate" class="nav-clock me-4"></span>
                </div>

                <!-- Tabs navs -->
                <ul
                    class="nav navbar-nav me-auto mb-2 mb-lg-0"
                    id="ex1"
                    role="tablist"
                >
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/admin/">Главная</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/admin/users/"
                            >Пользователи</a
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/admin/storage/">Склад</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/admin/menu/">Меню</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
            </div>

            <div>
                <!-- <a href="#" class="p-1" onclick="reloadOrdersCartList()">
                    <i class="fas fa-redo"></i>
                </a> -->
                <a href="#" class="p-1" onclick="log_out_me('/admin/')">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>

    <!-- Nav clock -->
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/utils_nav_clock.js') }}"
    ></script>

    <!-- ########################### Admin Nav Bar ########################## -->

    {% if users_page %}

    <!-- ########################### User List Tab ########################## -->

    <div
        class="container d-flex flex-column justify-content-start align-items-start flex-wrap"
        id="usersListContainer"
    >
        <div class="d-flex flex-row input pb-2" style="width: 100%">
            <input
                type="text"
                name="search"
                class="form-control search-input"
                placeholder="Поиск"
                oninput="searchData(this)"
            />
            <button
                class="btn btn-light search-btn ms-2"
                onclick="clearSearch(this)"
            >
                Очистить
            </button>
        </div>
        <ul class="list-group list-group-light flex-fill">
            <!-- Users data -->
        </ul>
    </div>

    <!-- Create new user modal -->
    <div
        class="modal fade"
        id="newUserModal"
        tabindex="-1"
        aria-labelledby="userModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">
                        Создание нового пользователя
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="newUserForm" data-redirect-target="/">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input
                                type="text"
                                name="user_name"
                                class="form-control"
                                required
                            />
                            <label class="form-label">Имя</label>
                        </div>

                        <!-- Phone input -->
                        <div class="form-outline mb-4">
                            <input
                                type="tel"
                                name="user_phone"
                                data-tel-input
                                class="form-control"
                                placeholder="+7 (___) ___-__-__"
                                required=""
                            />
                            <label class="form-label">Номер телефона</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input
                                type="password"
                                name="user_password"
                                class="form-control"
                                pattern="([A-Za-z0-9_-]{8,})$"
                                minlength="8"
                                required
                            />
                            <label class="form-label">Пароль</label>
                        </div>

                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            <input
                                type="password"
                                class="form-control"
                                required
                            />
                            <label class="form-label">Пароль еще раз</label>
                        </div>

                        <!-- Submit button -->
                        <button
                            type="submit"
                            data-submit-button="Создать пользователя"
                            class="btn btn-primary btn-block mb-3"
                        >
                            Создать пользователя
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Create new user modal -->

    <!-- Confirm smth modal -->
    <div
        class="modal fade"
        id="confirmModal"
        tabindex="-1"
        aria-labelledby="userModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content p-3">
                <h5 class="modal-title pb-2" id="userModalLabel">
                    Вы уверенны?
                </h5>
                <div class="modal-body d-flex justify-content-between p-0">
                    <button
                        type="submit"
                        class="btn btn-flat btn-sm px-3"
                        data-ripple-color="dark"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    >
                        Отмена
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary btn-sm px-3"
                        data-ripple-color="dark"
                        onclick="deleteUser()"
                    >
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm smth modal -->

    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/admin_user.js') }}"
    ></script>
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/admin_sort.js') }}"
    ></script>
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/login_phoneinput.js') }}"
    ></script>

    <!-- ########################### User List Tab ########################## -->

    {% elif storage_page %}

    <!-- ########################### Storage page ########################### -->

    <div
        class="container d-flex flex-column justify-content-start align-items-start flex-wrap"
        id="storageListContainer"
    >
        <div class="d-flex flex-row input pb-2" style="width: 100%">
            <input
                type="text"
                name="search"
                class="form-control search-input"
                placeholder="Поиск"
                oninput="searchData(this)"
            />
            <button
                class="btn btn-light search-btn ms-2"
                onclick="clearSearch(this)"
            >
                Очистить
            </button>
        </div>
        <ul class="list-group list-group-light flex-fill" style="width: 100%">
            <!-- storage items -->
        </ul>
    </div>

    <!-- Create new income modal -->
    <div
        class="modal fade"
        id="newIncomeModal"
        tabindex="-1"
        aria-labelledby="incomeModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="incomeModalLabel">
                        Регистрация прихода
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        class="list-group list-group-light flex-fill"
                        id="incomeForm"
                        data-create-mode="income"
                    >
                        <!-- Header -->
                        <div
                            class="list-group-item list-item d-flex justify-content-around text-center p-2"
                        >
                            <span class="ml-item">Наименование</span>
                            <span class="s-item">Остаток на складе</span>
                            <span class="xs-item">Единицы</span>
                            <span class="s-item">Величина прихода</span>
                            <div class="x-item">
                                <button
                                    type="button"
                                    class="btn btn-link btn-sm px-2 ripple-surface-dark"
                                    data-ripple-color="dark"
                                    onclick="createRecord(this)"
                                >
                                    <i class="far fa-plus-square text-dark"></i>
                                </button>
                            </div>
                        </div>
                        <!-- income record -->
                    </form>
                    <!-- Submit button -->
                    <button
                        type="submit"
                        form="incomeForm"
                        data-submit-button="Сохранить"
                        class="btn btn-primary btn-block mt-3 display-none"
                    >
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Create new income modal -->

    <!-- Create new outcome modal -->
    <div
        class="modal fade"
        id="newOutcomeModal"
        tabindex="-1"
        aria-labelledby="outcomeModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="outcomeModalLabel">
                        Регистрация списания
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        class="list-group list-group-light flex-fill"
                        id="outcomeForm"
                        data-create-mode="outcome"
                    >
                        <!-- Header -->
                        <div
                            class="list-group-item list-item d-flex justify-content-around text-center p-2"
                        >
                            <span class="ml-item">Наименование</span>
                            <span class="s-item">Остаток на складе</span>
                            <span class="xs-item">Единицы</span>
                            <span class="s-item">Величина списания</span>
                            <div class="x-item">
                                <button
                                    type="button"
                                    class="btn btn-link btn-sm px-2 ripple-surface-dark"
                                    data-ripple-color="dark"
                                    onclick="createRecord(this)"
                                >
                                    <i class="far fa-plus-square text-dark"></i>
                                </button>
                            </div>
                        </div>
                        <!-- outcome record -->
                    </form>
                    <!-- Submit button -->
                    <button
                        type="submit"
                        form="outcomeForm"
                        data-submit-button="Сохранить"
                        class="btn btn-primary btn-block mt-3 display-none"
                    >
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Create new outcome modal -->

    <!-- Confirm smth modal -->
    <div
        class="modal fade"
        id="confirmModal"
        tabindex="-1"
        aria-labelledby="userModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content p-3">
                <h5 class="modal-title pb-2" id="userModalLabel">
                    Вы уверенны?
                </h5>
                <div class="modal-body d-flex justify-content-between p-0">
                    <button
                        type="submit"
                        class="btn btn-flat btn-sm px-3"
                        data-ripple-color="dark"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    >
                        Отмена
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary btn-sm px-3"
                        data-ripple-color="dark"
                        onclick="deleteUser()"
                    >
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm smth modal -->

    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/admin_storage.js') }}"
    ></script>
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/admin_sort.js') }}"
    ></script>

    <!-- ########################### Storage page ########################### -->

    {% elif menu_page %}

    <!-- ########################### Menu page ############################## -->

    <div
        class="container d-flex flex-column justify-content-start align-items-start flex-wrap"
        id="menuListContainer"
    >
        <div class="d-flex flex-row input pb-2" style="width: 100%">
            <input
                type="text"
                name="search"
                class="form-control search-input"
                placeholder="Поиск"
                oninput="searchData(this)"
            />
            <button
                class="btn btn-light search-btn ms-2"
                onclick="clearSearch(this)"
            >
                Очистить
            </button>
        </div>
        <!-- menu items inside ul -->
        <ul
            class="list-group list-group-light flex-fill"
            style="width: 100%"
        ></ul>
    </div>

    <!-- edit Menu Item Modal -->
    <div
        class="modal fade"
        id="editMenuItemModal"
        tabindex="-1"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактирование позиции</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="editMenuItemModalForm">
                        <!-- item_id -->
                        <input type="hidden" name="item_id" value="" />

                        <!-- Item galery -->
                        <div
                            class="d-flex justify-content-start align-items-center flex-row flex-wrap item-galery mb-4"
                        ></div>

                        <div
                            class="d-flex justify-content-start align-items-center mb-4"
                        >
                            <div class="form-outline flex-fill me-4">
                                <!-- Name input -->
                                <input
                                    type="text"
                                    id="name_input"
                                    name="name_input"
                                    class="form-control"
                                    required
                                />
                                <label class="form-label" for="name_input"
                                    >Нименование</label
                                >
                            </div>

                            <div class="form-outline me-4">
                                <!-- Price input -->
                                <input
                                    type="number"
                                    id="price_input"
                                    name="price_input"
                                    class="form-control"
                                    min="1"
                                    step="0.01"
                                    required
                                />
                                <label class="form-label" for="price_input"
                                    >Стоимость, руб.</label
                                >
                            </div>

                            <div class="dropdown">
                                <!-- Tags input -->
                            </div>
                        </div>

                        <div class="d-flex mb-4">
                            <div class="form-outline flex-fill me-4">
                                <!-- Description input -->
                                <textarea
                                    class="form-control"
                                    id="description_input"
                                    name="description_input"
                                    rows="3"
                                    required
                                ></textarea>
                                <label
                                    class="form-label"
                                    for="description_input"
                                    >Описание</label
                                >
                            </div>
                            <div
                                class="d-flex flex-column justify-content-between align-items-center"
                            >
                                <div class="form-outline">
                                    <!-- Weight input -->
                                    <input
                                        type="number"
                                        id="weight_input"
                                        name="weight_input"
                                        class="form-control"
                                        min="1"
                                        required
                                    />
                                    <label class="form-label" for="weight_input"
                                        >Вес порции, гр.</label
                                    >
                                </div>
                                <div class="form-outline">
                                    <!-- Calories input -->
                                    <input
                                        type="number"
                                        id="calories_input"
                                        name="calories_input"
                                        class="form-control"
                                        min="1"
                                        required
                                    />
                                    <label
                                        class="form-label"
                                        for="calories_input"
                                        >Калорийность, кКал</label
                                    >
                                </div>
                            </div>
                        </div>

                        <div
                            class="d-flex list-group list-group-light flex-fill composition-container mb-4"
                        >
                            <!-- Header -->
                            <div
                                class="list-group-item list-item d-flex justify-content-around text-center p-2"
                            >
                                <span class="ml-item">Наименование</span>
                                <span class="s-item">Количество</span>
                                <span class="xs-item">Единицы</span>
                                <div class="x-item">
                                    <button
                                        type="button"
                                        class="btn btn-link btn-sm px-2 ripple-surface-dark"
                                        data-ripple-color="dark"
                                        onclick="createMenuRecord(this)"
                                    >
                                        <i
                                            class="far fa-plus-square text-dark"
                                        ></i>
                                    </button>
                                </div>
                            </div>
                            <!-- income record -->
                        </div>

                        <div
                            class="d-flex justify-content-between align-items-center mb-4"
                        >
                            <div class="d-flex justify-content-start">
                                <!-- Show checkbox -->
                                <div
                                    class="form-check d-flex justify-content-center me-4"
                                >
                                    <input
                                        class="form-check-input me-2"
                                        type="checkbox"
                                        value=""
                                        id="show_input"
                                        name="show_input"
                                        checked
                                    />
                                    <label
                                        class="form-check-label"
                                        for="show_input"
                                    >
                                        Отображать в меню
                                    </label>
                                </div>
                                <!-- Available checkbox -->
                                <div
                                    class="form-check d-flex justify-content-center me-4"
                                >
                                    <input
                                        class="form-check-input me-2"
                                        type="checkbox"
                                        value=""
                                        id="available_input"
                                        name="available_input"
                                        checked
                                    />
                                    <label
                                        class="form-check-label"
                                        for="available_input"
                                    >
                                        Доступность для заказа
                                    </label>
                                </div>
                            </div>
                            <!-- Submit button -->
                            <button
                                type="submit"
                                data-submit-button="Сохранить"
                                class="btn btn-primary"
                            >
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- edit Menu Item Modal -->

    <!-- Gallery modal -->
    <div
        class="modal fade"
        id="menuImageGaleryModal"
        tabindex="-1"
        aria-hidden="true"
        data-mdb-backdrop="false"
    >
        <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Галерея</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <!-- Item galery -->
                    <div
                        class="d-flex justify-content-start align-items-center flex-row flex-wrap item-galery mb-4"
                    ></div>
                    <div
                        class="modal-footer d-flex justify-content-between align-items-center"
                    >
                        <form
                            method="post"
                            enctype="multipart/form-data"
                            id="menuFilesUploadForm"
                            class="d-flex justify-content-start align-items-center"
                        >
                            <input
                                class="form-control"
                                type="file"
                                accept=".jpg, .png, .jpeg, .bmp"
                                id="menu_images"
                                name="menu_images"
                                multiple
                                required
                            />
                            <button
                                type="submit"
                                data-submit-button="Загрузить"
                                class="btn btn-primary ms-2"
                            >
                                Загрузить
                            </button>
                        </form>
                        <button
                            type="button"
                            class="btn btn-primary"
                            onclick="processSelectedImages()"
                        >
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery modal -->

    <!-- Confirm deletion modal -->
    <div
        class="modal fade"
        id="confirmModal"
        tabindex="-1"
        aria-labelledby="userModalLabel"
        aria-hidden="true"
        data-mdb-backdrop="false"
    >
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content p-3">
                <h5 class="modal-title pb-2" id="userModalLabel">
                    Вы уверенны?
                </h5>
                <div class="modal-body d-flex justify-content-between p-0">
                    <button
                        type="submit"
                        class="btn btn-flat btn-sm px-3"
                        data-ripple-color="dark"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                    >
                        Отмена
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary btn-sm px-3"
                        data-ripple-color="dark"
                        data-submit-button="Ок"
                        onclick="deleteGalleryImg(this)"
                    >
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm deletion modal -->

    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/admin_menu.js') }}"
    ></script>
    <script
        type="text/javascript"
        src="{{ url_for('client.static',filename='js/admin_sort.js') }}"
    ></script>

    <!-- ########################### Menu page ############################## -->

    {% else %}

    <!-- ########################### Main page ############################## -->

    <div
        class="container d-flex flex-row justify-content-start align-items-center flex-wrap"
        id="MainListContainer"
    >
        Main page
        <button
            type="button"
            class="btn btn-link btn-sm px-3"
            data-ripple-color="dark"
            onclick="showMessage('Что-то пошло не так','danger')"
        >
            <i class="fas fa-user-times text-dark"></i>
        </button>
        <button
            type="button"
            class="btn btn-link btn-sm px-3"
            data-ripple-color="dark"
            onclick="showAlert({message:'Все пошло так, как надо', type:'success', auto_dispose:false})"
        >
            <i class="fas fa-user-times text-dark"></i>
        </button>
    </div>

    <!-- ########################### Main page ############################## -->

    {% endif %} {% endif %}
</body>

{% endblock %}
