{% extends "client/base.html" %} {% block title %}Гарни - ресторанно-гостиничный
комплекс{% endblock %} {% block content %}

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img
                        src="{{ url_for('client_main.static',filename='img/logo-restaurant-w.svg') }}"
                        height="15"
                        alt="Garni Logo"
                        loading="lazy"
                    />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <a class="text-reset me-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <div class="dropdown">
                    <a
                        class="text-reset me-3 dropdown-toggle hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fas fa-bell"></i>
                        <span
                            class="badge rounded-pill badge-notification bg-danger"
                            >1</span
                        >
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                <div class="dropdown">
                    <a
                        class="dropdown-toggle d-flex align-items-center hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuAvatar"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fas fa-user-alt"></i>
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                    >
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <header style="background-color: black; opacity: 0.8">
        <img
            src="{{ url_for('client_main.static',filename='img/logo-restaurant-w.svg') }}"
            alt=""
        />
    </header>

    <style>
        .qr_code {
            width: 50mm;
            height: 50mm;
        }
    </style>

    <!-- <ul id="navigation">
        {% for item in navig %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul> -->

    <!-- <div>
        <p>{{ ans }}</p>
        <form action="">
            <textarea id="style" name="style" placeholder="" style="width:95%; height:200px;">
                @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
                font-family: 'Space Mono', monospace;
                font-size: 6pt;
                width: 30em;
                line-height: 95%;
                letter-spacing: -0.08em;
            </textarea>
            <br>
            <button type="button" onclick="myFunction()">Edit</button>
        </form>
        <script>
            function myFunction() {
                document.getElementById("qr_code").style = document.getElementById("style").value;
            }
        </script>
    </div> -->

    <div>
        <p style="font-family: Lucida Console, Courier, monospace">
            {{ r_key }}
        </p>
    </div>

    <!-- <div>
        <p id="qr_code" style="
                @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
                font-family: 'Space Mono', monospace;
                font-size: 6pt;
                width: 30em;
                line-height: 95%;
                letter-spacing: -0.08em;">{{ qr }}</p>
    </div> -->

    <div>
        <h2>svg qr</h2>
        {{ qr_svg | safe}}
    </div>

    <div>
        <p>{{ ans }}</p>
        <form action="/" method="post">
            <input type="hidden" name="otp_key_form" value="true" />
            <input type="hidden" name="key" value="{{ r_key }}" />
            <input type="text" name="otp_key" />
            <button type="submit">Sumbit</button>
        </form>
    </div>
    <div>
        <form action="/" method="post">
            <button type="submit">Reset</button>
        </form>
    </div>

    <div style="display: none; width: 100%">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2228.619893893823!2d92.77736652307196!3d56.04256995681467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5cd7acff3bba5b43%3A0xf28aa03934aadc4e!2z0YPQuy4g0JrQsNC70LjQvdC40L3QsCwgNzUsINCa0YDQsNGB0L3QvtGP0YDRgdC6LCDQmtGA0LDRgdC90L7Rj9GA0YHQutC40Lkg0LrRgNCw0LksIDY2MDA2MQ!5e0!3m2!1sru!2sru!4v1642770116677!5m2!1sru!2sru"
            width="100%;"
            height="600"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
        ></iframe>
    </div>

    <div class="container" id="documentation"></div>
</body>

{% endblock %}
