{% extends "client/base.html" %}
<!--  -->
{% block title %}Гарни - ресторанно-гостиничный комплекс{% endblock %}
<!--  -->
{% block body %}
<!--  -->
{% if show_login %}

<!-- ##### Header Area Start ##### -->
<header class="container header_wrapper py-0">
    <div class="row px-3">
        <div
            class="col-12 col-md-4 col-lg-3 header_area classy-nav-container breakpoint-off d-flex align-items-center justify-content-between"
        >
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/kitchen">
                    <img
                        src="{{ url_for('client.static',filename='img/logo-restaurant-b.svg') }}"
                        alt=""
                    />
                </a>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<div
    class="border d-flex align-items-center justify-content-center"
    style="height: 80vh"
>
    <!-- Spacer block -->
    <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4"></div>

    <!-- Form block -->
    <div
        class="px-1 col-10 col-sm-8 col-md-5 col-lg-4 col-xl-4"
        style="max-width: 400px"
    >
        {% if (auth_message | length) == 0 %}
        <form id="loginForm" data-redirect-target="/kitchen">
            <!-- Phone input -->
            <div class="form-outline mb-4">
                <input
                    type="tel"
                    id="loginPhone"
                    name="loginPhone"
                    data-tel-input
                    class="form-control"
                    placeholder="+7 (___) ___-__-__"
                    pattern="(\d|\(|\)| |\+|-){11,18}$"
                    minlength="11"
                    maxlength="18"
                    required=""
                />
                <label class="form-label" for="loginPhone"
                    >Номер телефона</label
                >
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input
                    type="password"
                    id="loginPassword"
                    class="form-control"
                    minlength="8"
                    required
                />
                <label class="form-label" for="loginPassword">Пароль</label>
            </div>

            <!-- Submit button -->
            <button
                type="submit"
                data-submit-button="Войти"
                class="btn btn-block essence-btn mb-4"
            >
                Войти
            </button>
        </form>
        {% else %}
        <div
            class="d-flex justify-content-center align-items-center"
            style="
                /*position: absolute;*/
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
            "
        >
            <a
                href="#"
                style="text-decoration: none; color: #000"
                onclick="log_out_me('/kitchen')"
            >
                <p
                    id="errorMessageText"
                    class="note note-light"
                    style="width: 100%"
                >
                    {{ auth_message }}<br />Нажмите чтобы выйти.
                </p>
            </a>
        </div>
        {% endif %}
    </div>
    <!-- Form block -->

    <!-- Spacer block -->
    <div class="col-sm-2 col-md-2 col-lg-4 col-xl-4"></div>
</div>

<!-- ################## -->
{% else %}
<!-- ################## -->

<!-- ########################### Admin Nav Bar ########################## -->
<!-- ##### Header Area Start ##### -->
<header class="container header_wrapper py-0">
    <div class="row px-3">
        <div
            class="col-12 col-md-4 col-lg-3 header_area classy-nav-container breakpoint-off d-flex align-items-center justify-content-between"
        >
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/admin">
                    <img
                        src="{{ url_for('client.static',filename='img/logo-restaurant-b.svg') }}"
                        alt=""
                    />
                </a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"
                        ><span></span><span></span><span></span
                    ></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap">
                            <span class="top"></span
                            ><span class="bottom"></span>
                        </div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul class="p-0">
                            <li><a href="#" id="navClock"></a></li>
                            <li><a href="#" id="navDate"></a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#" onclick="reloadOrdersCartList()">
                        <i class="fas fa-lg fa-redo"></i>
                    </a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" onclick="log_out_me('/kitchen')"
                        ><i class="fas fa-lg fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/utils/utils_nav_clock.js') }}"
></script>

<!-- Navbar -->

<!-- Order Container -->
<section
    class="container d-flex flex-row justify-content-start align-items-center flex-wrap section-padding-100"
    id="orderContainer"
>
    <!-- There will be orders -->
</section>
<!-- Order Container -->

{% endif %}
<!--  -->
{% endblock %}
<!--  -->

<!--  -->
{% block scripts %}
<!--  -->
{% if show_login %}

<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/login/login_main.js') }}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/login/login_phoneinput.js') }}"
></script>

<!-- ################## -->
{% else %}
<!-- ################## -->

<script
    type="text/javascript"
    src="{{ url_for('client.static',filename='js/kitchen/kitchen_main.js') }}"
></script>

{% endif %}
<!--  -->
{% endblock %}
