/* // `xs` returns only a ruleset and no media query */

body {
    background-color: bisque;
    overflow-x: hidden;
}

.carousel-control,
.carousel-control:focus,
.carousel-control:hover {
    color: black;
}

.cards-container {
    width: 80%;
}

/* .card {
    overflow: hidden;
} */

.card-container {
    display: flex;
    width: 33%;
    height: 45vh;
}

.card-body {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.card-carousel {
    height: 60%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(0.5rem - 1px);
}

.card-info {
    height: 40%;
    /* height: 10em; */
    padding: 1rem;
}

.card-btn {
    width: 100%;
}

.card-btn > button {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.card-btn > i {
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.card-btn > i:hover {
    /* color: #262626; */
    box-shadow: none;
}

.dropdown-menu > li:last-child .dropdown-item {
    border-radius: 0.5rem;
}

.remove-icon {
    position: relative;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}

.cart-body {
    border-radius: calc(0.5rem - 1px);
    object-fit: cover;
    overflow: hidden;
    padding: 0 0;
    margin-bottom: 0.5rem;
    border: 1px solid #e0e0e0;
    background-color: bisque;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07),
        0 2px 4px -1px rgba(0, 0, 0, 0.05);
}

.cart-img {
    object-fit: cover;
    border-radius: calc(0.5rem - 1px);
}

.container {
    padding: 0.75rem;
}

.order-list-item {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07),
        0 2px 4px -1px rgba(0, 0, 0, 0.05);
}

/* .modal-dialog {
    max-width: 600px;
} */

.order-list-summary {
    border-top: 1px solid #000;
}

.accordion-button:not(.collapsed) {
    color: #1266f1;
    /* background-color: #fff; */
    box-shadow: none;
}

.accordion-button:not(.collapsed):focus {
    box-shadow: none;
}

.badge {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07),
        0 2px 4px -1px rgba(0, 0, 0, 0.05);
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-clock {
    color: #fff;
    font-size: 18pt;
}

*::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 2px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

*::-webkit-scrollbar {
    width: 10px;
}

.order-list-card::-webkit-scrollbar-thumb {
    background-color: red;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.order-list-card::-webkit-scrollbar {
    width: 16px;
}

.order-list-card {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 350px;
    max-height: 300px;
    background-color: #ddd;
    border-radius: 8px;
}

.list-item {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);
    align-items: center;
    max-height: 140px;
}

.list-item .xx-item {
    flex: 0 1 40px;
}

.list-item .x-item {
    flex: 0 1 60px;
}

.list-item .xs-item {
    flex: 0 1 80px;
}

.list-item .s-item {
    flex: 0 1 120px;
}

.list-item .sm-item {
    flex: 0 1 150px;
}

.list-item .m-item {
    flex: 0 1 180px;
}

.list-item .ml-item {
    flex: 0 1 200px;
}

.list-item .l-item {
    flex: 0 1 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.display-none {
    display: none !important;
}

.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
    opacity: 1;
    cursor: auto;
}

.tag-outline {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    min-height: 1.5rem;
    /* padding-left: 1.5em; */
    margin-bottom: 0.125rem;
}

.tag-input {
    padding: 0 25px 0 4px;
    height: 24px;
}

.tag-outline .tag-trailing {
    position: absolute;
    right: 15px;
    left: auto;
    cursor: pointer;
}

.tag-dropdown {
    background-color: bisque;
    border: 1px solid #26262655;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3),
        0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.tag-pill {
    width: 100%;
    padding: 0 0.25rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #262626a2;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.tag-input:disabled ~ .tag-trailing,
.tag-input[disabled] ~ .tag-trailing {
    pointer-events: none;
}

.ingredient-select {
    border-radius: 0.25rem;
    color: #4f4f4f;
    padding: 0.4rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    height: 40px;
}

.ingredient-select option:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.ingredient-select option:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

span[data-sort-direction] {
    cursor: pointer;
    height: 100%;
    padding: 0 0.2rem;
}

span[data-sort-direction]:hover {
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3),
        0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.btn-link:hover,
.btn-link:focus {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3),
        0 2px 7px 0 rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.list-group {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.search-input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.search-input:focus {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7),
        0 2px 10px 0 rgb(0 0 0 / 20%);
}

.search-btn {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.search-btn:hover,
.search-btn:focus {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7),
        0 2px 10px 0 rgb(0 0 0 / 20%);
}

.alert-container {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2000;
    overflow: hidden;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.alert-message {
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    opacity: 0;
    transform: translateX(300px);
}

.alert-message.creating {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 1;
    transform: translate(0px);
}

.alert-message.destroying {
    opacity: 0;
    transform: translateY(-100px);
}

.img-container {
    height: 100%;
}

.description-container {
    height: 100%;
    overflow-y: scroll;
}

.description-container::-webkit-scrollbar-thumb {
    background-color: #26262694;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
}

.description-container::-webkit-scrollbar {
    width: 6px;
}

.show-container,
.available-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-container .form-check-input[type="checkbox"],
.available-container .form-check-input[type="checkbox"] {
    border-radius: 0.125rem;
    margin: 0;
}

.menu-list-item {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);
    align-items: center;
    max-height: 140px;
}

.galery-img {
    /* width: 140px; */
    max-width: 260px;
    min-width: 140px;
    height: 180px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
}

.img-fluid {
    max-width: 100%;
    height: 85%;
    object-fit: cover;
}

.galery-img:hover {
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7),
        0 2px 10px 0 rgb(0 0 0 / 20%);
}

.galery-img > p {
    padding-top: 2px;
    font-size: 9pt;
    line-height: 10pt;
    margin: 0;
}

.galery-img.zoom {
    width: 100%;
    height: unset;
    max-width: 600px;
    transition: all 1s ease;
}

.galery-img.zoom > p {
    padding-top: 4px;
    font-size: 12pt;
    line-height: 14pt;
    margin: 0;
}

/* .galery-img .img-remove {
    z-index: 100;
    position: relative;
    float: right;
    right: 6px;
    top: 2px;
    height: 0;
} */

.galery-img .img-controls {
    z-index: 100;
    position: relative;
    float: right;
    top: 2px;
    height: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(164, 184, 53);
}

.galery-img .img-hover {
    height: 100%;
    position: relative;
    z-index: 99;
}

.img-controls:not([class*="selected"]) > .img-select,
.img-controls.selected > .img-selected {
    display: inline-block;
}

.img-controls:not([class*="selected"]) > .img-selected,
.img-controls.selected > .img-select {
    display: none;
}

.galery-img.img-placeholder {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
}

.menu-img {
    height: 120px;
}
/* .menu-carousel {
    height: 100%;
} */

/* li {
    list-style-type: none;
    padding: 13px;
} */

/* .qr_code {
    width: 50mm;
    height: 50mm;
}; */

/* // `md` applies to small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .card-container {
        display: flex;
        width: 49%;
        height: 40vh;
    }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */

/* @media (max-width: 575.98px) { */

@media (max-width: 575.98px) {
    .card-container {
        width: 100%;
        height: 18vh;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card-text {
        display: none;
    }
    .card-info {
        flex-direction: column;
        padding: 0 0.5rem;
        height: auto;
        width: 50%;
        /* overflow: auto; */
    }
    .carousel-control-next {
        border-top-right-radius: calc(0.5rem - 1px);
        border-bottom-right-radius: calc(0.5rem - 1px);
    }
    .cards-container {
        width: 95%;
    }
    /* .carousel-inner {
        width: 10em;
    } */
    .card-carousel {
        width: 50%;
        height: 100%;
    }
    .card-btn {
        width: 100%;
    }
    .search-container {
        flex-wrap: wrap;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
}

/* // `xl` applies to large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
}
